jobs/edit
<h1>Edit <%= @job.title%>!</h1>

<%= render partial: "layouts/errors", locals: {object: @job} %>

<%= form_for(@job) do |f|%>

  <%= f.label "Choose a category:" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>

  <p>Or create a new category:
  <%= f.fields_for :category do |c|%>
    <%= c.text_field :name%>
  <% end %>
  </p>


<%= f.label :first_name %>
<%= f.text_field :first_name, placeholder: "First Name" %><br><br>
<%= f.label :last_name %>
<%= f.text_field :last_name, placeholder: "Last Name"%><br><br>
<%= f.label :phone_number %>
<%= f.number_field :phone_number, placeholder: "Phone Number" %><br><br>
<%= f.label :busness_email %>
<%= f.email_field :busness_email, placeholder: "Busness Email" %><br><br>
<%= f.label :title %>
<%= f.text_field :title, placeholder: "Title" %><br><br>
<%= f.label :description %>
<%= f.text_area :description, placeholder: "Description" %><br><br>
<%= f.submit "Submit" %>
<% end %>
