review/new.
<% if @review.job %>
<h1>Please wright your Review for <% @review.job.title %>!</h1>
else
<h1>New Review!</h1>
<% end %>



    <%= form_for ([@review.job, @review]) do |f| %>

    <% if !@review.job %>
    <%= f.label :job_title %>
    <%= f.collection_select :job_id, Job.all, :id, :title %>
    <% else %>
        <%= f.hidden_field :job_id %>
    <% end %>
    
    <%= f.label :description %>
    <%= f.text_field :description %>
    

    <%= f.submit %>
    <% end %>
    